<!DOCTYPE html>
<html>
  <head>
    <title>Organizador</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%# <%= link_to 'Cerrar sesion', destroy_user_session_path, method: :delete %> %>

    <%= link_to "Tares", tasks_path %>
    <%= link_to "Categorias", categories_path %>
    
    <%= link_to "Cerrar session", destroy_user_session_path, data: {turbo_method: :delete} %>

    <%=link_to 'Sing Up', new_user_registration_path%>
    <%=link_to 'Sing In', new_user_session_path%>
    <%= yield %>
  </body>
</html>
